{% extends "layout.html.twig" %}

{% block content %}
    <div class="well">
        <h3 class="text-center">Please, click to <a class="btn btn-success" href="{{ path('account_validation_action', { 'token' : token }) }}">validate</a> your registration.</h3>

        <h4 class="text-center">{{ token }}</h4>

        <h5 class="text-center">B'N'H</h5>
    </div>
{% endblock %}

